<form (ngSubmit)="onSubmit()" #s="ngForm" class="container">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ngModel name = "email" required  email
     #email="ngModel">
     <p *ngIf="!email.valid  && email.touched" class="error">this field is required</p>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input
     type="password"
     class="form-control"
     id="inputPassword4"
     placeholder="Password"
     ngModel
     name="password"
     required
     #password="ngModel"
     >
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="check"> Remember me
    </label>
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="s.invalid" >Submit</button>
  <a routerLink="../register" class="btn btn-danger float-right">Register</a>
  <router-outlet></router-outlet>
</form>