<div class="example-container container">
  <mat-form-field>
    <input matInput placeholder="Full Name" type="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="UserName" type="username">
  </mat-form-field>
   <mat-form-field>
    <mat-select placeholder="Gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adress" type="adress">
  </mat-form-field>
  <button mat-mini-fab class="submit">Create Account</button>

</div>
