<div>
  <form class="container col-md-8 col-md-offset-2"  #f="ngForm">
    <div class="form-row">
    <div class="form-group">
      <label for="inputName4">Full Name</label>
      <input
       type="name"
        class="form-control"
        id="inputName4"
        placeholder="Full Name"
        ngModel
        name="name"
        required
        #name="ngModel"
          >
          <p *ngIf="!name.valid && name.touched" class="error">this field is required</p>

    </div>

    <div class="form-group">
      <label for="inputUserName4">&#64;User Name</label>
      <input
        type="username"
        class="form-control"
        id="inputUserName4"
        placeholder="&#64; User Name"
        name="username"
        required
        ngModel
        #username="ngModel"
        >
        <p *ngIf="!username.valid && username.touched" class="error">this field is required</p>

    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input
       type="email"
       class="form-control"
       id="inputEmail4"
       placeholder="Email"
       ngModel
       name="email"
       required
       email
       #email="ngModel"
       >
         <p *ngIf="!email.valid  && email.touched" class="error">this field is required</p>
    </div>
    <div class="form-group">
      <label for="inputPassword4">Password</label>
      <input
       type="password"
       class="form-control"
       id="inputPassword4"
       placeholder="Password"
       ngModel
       name="password"
       required
       #password="ngModel"
       minlength="6"
       >
         <p *ngIf=" password.touched && password.errors.minlength" class="error">too short </p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text"
     class="form-control"
      id="inputAddress" placeholder="1234 Main St" name="address"
       ngModel
       required
       #address="ngModel">
        <p *ngIf="!address.valid && address.touched " class="error">this field is required</p>
  </div>
  <div class="form-group">
    <label for="inputPhone2">Phone Number</label>
    <input type="numbers" minlength="11" class="form-control" id="inputPhone2" placeholder="01*********" name="Phone" ngModel required
    #phone="ngModel"
    >
      <p *ngIf=" phone.touched && phone.errors.minlength " class="error">this field is wrong</p>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="city" ngModel required #city="ngModel" >
      <p *ngIf="!city.valid && city.touched" class="error">this field is required</p>
    </div>
    <div class="form-group">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="option"  [ngModel]="select">
        <option value="esl">Choose...</option>
        <option value="es">...</option>
      </select>

    </div>
    <div class="form-group">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="zipcode" ngModel required #zip="ngModel" >
      <p *ngIf="!zip.valid && zip.touched" class="error">this field is required</p>

    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label badge badge-primary" for="gridCheck">
      <input class="form-check-input" type="checkbox" id="gridCheck" ngModel name="checkbox" required #checked="ngModel">
         I accept the terms and conditions
      </label>
      <p *ngIf="!checked.valid && checked.touched" class="error">you should accept the terms</p>

    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign up</button>
  <a routerLink="../login" class="btn btn-danger float-right">Log In</a>
  <router-outlet></router-outlet>
</form>
</div>
